.home-section {
    background: url("../../../images/Header.png") no-repeat bottom center/cover;
}

.home-section .container {
    margin-top: 0;
}

.home-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 1fr;
    grid-gap: 4rem;
    align-items: center;
    justify-content: center;
}

.home-section img {
    width: 370px;
}

.home-section .editor-choice {
    display: flex;
    align-items: center;
    background-color: #e2eaed;
    color: #242f51;
    max-width: 60%;
    font-size: 18px;
    border-radius: 30px;
}

.home-section .editor-choice .check {
    background-color: #feaa25;
    border-radius: 30px;
    width: 32px;
    height: 32px;
    color: #fff;
    text-align: center;
}

.home-section h1 {
    font-size: 60px;
}

.home-section .home-main-text {
    font-size: 18px;
}

@media screen and (max-width:900px) {

    img {
        width: 300px;
    }
}

@media screen and (max-width: 700px) {

    .home-grid {
        text-align: center;
        grid-template-columns: 1fr;
    }

    .home-section img {
        display: none;
    }
    
    .editor-choice {
        margin: auto;
    }

    img {
        margin: auto;
    }
}

@media screen and (max-width: 550px) {

    .home-section h1{
        font-size: 40px;
    }
}