.testinial-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.testinial-img img {
    width: 785px;
    margin-left: -295px;
}

.container {
    overflow: visible;
}

.slideshow-container {
    position: relative;
    background: #fff;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    width: 50px;
    padding: 16px;
    color: #2500f9;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50%;
    user-select: none;
}
  
.prev {
    position: absolute;
    right: 60px;
    border-radius: 50%;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 60%;
}
  
.prev:hover, .next:hover {
    background-color: #d2d7dd;
}

@media screen and (max-width:1024px) {

    .testinial-img img {
        max-width: 500px;
        margin-left: 0;
    }
}

@media screen and (max-width:900px) {
    .testinial-img img {
        max-width: 450px;
        margin: auto;
    }
    
    .testinial-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .testinial-grid .slideshow-container {
        text-align: left;
    }

}

@media screen and (max-width: 550px) {
    .testinial-img img {
        width: 300px;
    }
}
